
html {
    background-color: #82a43a; 
  }

.fourCrystals{
    display: flex;
    padding-top: 60px;
    background-color: #82a43a; 
    justify-content: space-around;
    align-items: center;
}

.crystal{
    height:200px;
    width:200px;
    border: 0px solid white;
    background-color: black;
}